@using System.Collections
@using BLL.App.DTO
@using Domain
@model ObligationModel

@{
    ViewData["Title"] = "Create";
    ViewData["ShowButtons"] = false;
    
}



<form asp-action="Create">
    

    
    <partial name="_CreateEdit" model="@Model" view-data="ViewData"/>
    
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/notification.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
