@using System.Collections
@using BLL.App.DTO
@using Domain
@model ObligationModel

@{
    ViewData["Title"] = "Edit";
    ViewData["ShowButtons"] = true;
}


<form asp-action="Edit">
    
    <input type="hidden" asp-for="Obligation.Id" />
    <input type="hidden" asp-for="Obligation.ParentId" />
    <input type="hidden" asp-for="Obligation.TimeId" />

    <partial name="_CreateEdit" model="@Model" view-data="ViewData"/>
    
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/notification.js"></script>
    <script>
        let scriptFullName = document.getElementById("selectFullName");
        scriptFullName.selectedIndex = @Model.ChildIndex;
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
