@{
    ViewData["Title"] = "Home Page";
}
<img id="bg" src="daniel-cheung-ZqqlOZyGG7g-unsplash.jpg" alt="bg"/>
<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    <p>This is your assistant in managing your child’s time</p>
</div>
