@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder

@inject IOptions<RequestLocalizationOptions> LocalizationOptions
@{
    var requestCultere = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocalizationOptions.Value.SupportedUICultures
        .Select(c => new {Value = c.Name, Text = c.NativeName}).ToList();
}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Language</a>
    <div class="dropdown-menu">
        @foreach (var item in cultureItems)
        {
            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="@item.Value" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString">@item.Text</a> 
        }
        

    </div>
</li>